html, body
  padding: 0
  margin: 0
  outline: 0

body
  background-color: $primary
  font-family: input-sans, sans-serif
  font-style: normal
  font-weight: 100

p, h1, h2, h3, h4, h5
  color: $font

a
  color: $font
  text-decoration: none
  font-weight: 700

ul
  list-style-type: none
  margin: 0
  padding: 0

li
  margin: 0
  padding: 0


header
  height: 200px
  background-color: $bg
  overflow: hidden
  position: relative

  .hero-img
    width: 50%
    height: 100%

    background: url(../images/hero_bg.jpg) no-repeat
    background-size: cover

  .hero-banner
    position: absolute
    bottom: 20%
    left: 50%
    transform: translate(-50%, -20%)
    margin: 0 auto
    text-align: center
    font-weight: 700

    h1, h2
      margin: 0

    h1
      font-size: 1.8em
    h2
      font-size: 1.4em

  .nav
    position: absolute
    top: 15%
    right: 50%
    transform: translate(50%, -15%)
    margin: 0 auto
    text-align: center
    font-size: 1.3em

    line
      stroke: $font
      stroke-width: 5px

    .nav-list
      white-space: nowrap

      li
        display: inline-block
        margin: 0 20px

        a
          display: block

      .svg
        display: none


footer
  font-weight: 700
  font-size: 1.2em
  background-color: $bg
  height: 100px
  display: flex
  justify-content: center
  align-items: center

  a
    margin: 0 20px

.container
  max-width: 1920px
  width: 100%
  margin: 0 auto

  p, h1
    color: $font-secondary

.column
  display: flex

  height: 500px
  width: 100%

  .img
    width: 50%

  .row
    width: 32%
    padding: 0 50px

.text
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 60%
  height: 100%
  margin: 0 auto

  p
    font-size: 14px
    line-height: 1.5em
    margin: 10px

.text-blob
  width: 100%
  text-align: center

  p, h1
    font-size: 1em
    color: $font
