
#contact
  min-height: auto
  height: auto
  background: url(../images/contact_bg_01.jpg) no-repeat center center

  svg
    stroke: $font
    stroke-width: 10px

  .contact-column
    min-height: 600px
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center

    #contact-us
      margin-bottom: 50px

      p
        margin: 5px

      h2
        margin: 0
        font-size: 2.2em

    .contact-info
      min-width: 500px

      .contact-bg
        color: $font-secondary
        background-color: $font
        font-size: 14px
        line-height: 40px
        font-weight: 700
