/* Visit Section */

.contact
  color: $font
  min-height: calc(100vh -  #{$footer-height} - #{$header-height} - 4px)
  background: url(../images/visit_bg_01.jpg) no-repeat center center
  background-size: cover

  p ,h2
    color: $font

  table
    width: 100%

    tr td:last-child
      text-align: right

  .column
    height: auto
    min-height: calc(100vh -  #{$footer-height} - #{$header-height} - 4px)
    flex-direction: row
    justify-content: space-around
    align-items: center

  .row
    width: 50%
    min-height: 520px
    padding: 0 180px

  .visit
    border-right: 2px solid $font

  .admission
    border-left: 2px solid $font

.info
  h1
    color: $font
    text-align: center

  h2
    font-size: 1em
    text-align: center
    background-color: $bg
    padding: 5px 0


